body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.wrapper {
    height: 100%;
    padding: 0 10% 0 10%;
}

.content {
    background-color: black;
    background: rgba(0, 0, 0, .99);
    border-radius: 10px;
    text-align: center;
}

form {
    color:white;
}

.Avatar {
    border-radius: 10px;
    margin: 10px;
}

.img-container {
    display: flex;
    align-items:center;
}

.clientInformation{
    color:white;
}

.clientInformation label {
    display: block;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: 18px;
    text-align: left;
}

.clientInformation h2 {
    font-family: cursive;
    margin-top: 0;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

nav button {
    background-image: url("../img/Menu.png");
    background-color: #08ffc1;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #0bb6e6;
}
